:root{
    --primary-color:#1F2937;
    --primary-white:#F3F4F6;
}

body{
    background-color: var(--primary-color);
    color: var(--primary-white);
    margin: 0;
    text-align: center;
}

main{
    width:80%;
    margin: auto;
}

.input-container{
    margin: 1rem;
}

.input-container label{
    display: block;
    margin: 1rem;
    font-size: large;
}

.input-container input{
    padding: 0.5rem;
    width:80%;
    font-size: medium;
}

.btn-tell-me{
    padding: 0.5rem;
    background-color: var(--primary-color);
    color:var(--primary-white);
    border: 3px solid var(--primary-white);
    border-radius: 0.2rem;
    font-size: x-large;
    margin-bottom: 1rem;
}

.output{
    border:3px solid var(--primary-white);
    font-size: large;
    padding: 1rem;
    border-radius: 0.3rem;
    visibility: hidden;
}

